.content {
    height: 100%;
    width: 100%;
}
  
.app {
display: flex;
position: relative;
}

/* <div className="app">
<Sidebar site="Sản phẩm" />
<main className="content">
    <Topbar />
    <Box m = "0 30px 10px 30px">
        <Header title="Thêm sản phẩm" />
        <Box
            ml="20px"
            sx={{height: "fit-content", width: "90%"}}
        >

        </Box>
    </Box>
</main>
</div> */