  .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    
    .flex-container {
      display: flex;
      justify-content: space-around;
      width: auto;
      margin: 20px;
    }
    
    .earnings-container {
      background-color: #fff; 
      color: #333; 
      border-radius: 12px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      align-items: center;
      text-align: center;
      margin-right: 20px;
      flex-direction: column;
    }
    
    .earnings-header {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
    
    .currency-button {
      background-color: #3498db;
      color: #fff;
      font-size: 24px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .dashboard-txt {
      font-size: 18px;
      font-weight: bold;
      color: #333;  
    }
    
    .dashboard-num {
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }
    
    .earnings-details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      justify-content: space-around;
      width: 100%;
    }

    .earning-item {
      flex: 1;
      background-color: #fff;
      color: #333;
      border-radius: 12px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    
    .earning-icon {
      color: var(--item-icon-color); 
      background-color: var(--item-icon-bg);
      font-size: 24px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .amount-percentage {
      margin-top: 10px;
      margin-left: 10px;
    }
    
    .amount {
      font-size: 18px;
      font-weight: bold;
    }
    
    .percentage-text {
      font-size: 14px;
    }
    
    .title {
      font-size: 12px;
      color: #888; /* Adjust text color as needed */
    }
    .revenue-container {  
      display: flex;
      flex-direction: column;
      margin: 20px;
      padding-top: 20px;
      padding-right: 20px;
      background-color: #fff; 
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 97%;
    }
    
    .revenue-text-container,.employee-text-container {
      text-align: center;
    }
    
    
    .revenue-text, .employee-text {
      font-size: 18px;
      font-weight: bold;     
       color: #333; 
      margin-bottom: 10px;
      margin-left: 20px;
      margin-bottom: -30px;
    }
    .employee-text-2 {
      font-size: 18px; 
      color: #888;
      margin-bottom: 10px;
      margin-left: 20px;
      margin-bottom: -30px;
      margin-top: 60px;
    }
    .statistic-text-container {
      text-align: center;
    }
    
    .statistic-text {
      font-size: 18px;
      font-weight: bold;     
       color: #333; 
      margin-bottom: 10px;
      margin-left: 20px;
      margin-bottom: -30px;
    }

    .statistic-container{
      display: flex;
      flex-direction: column;
      margin: 20px;
      padding-top: 20px;
      background-color: #fff; 
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      height: 440px ;
      align-items: center;
    }
    .stacked-chart{
      width: 1120px;
      height:350px;
    } 
    
  
    
    .employee-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      padding: 20px;
      gap: 10px;
    }
    
    .top-employee,
    .active-employee {
      flex: 1;
      background-color: #fff;
      color: #333;
      border-radius: 12px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 100%;
      height: 200px;
    }
    
    .employee-icon {
      color: #03C9D7; 
      background-color: #E5FAFB;
      font-size: 24px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      width: 40px;
     height: 40px; 
     margin-top: 40px;
     margin-left: 48.5%;
     
    }
    

    /* YourReportStyles.css */

.report-section {
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #555;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-top: 20px;
}

.author-info {
  margin-bottom: 20px;
}

.author-info h2 {
  color: #333;
  font-size: 1.2em;
}

.author-info p {
  margin: 5px 0;
  color: #777;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
.report-section.p {
  color: #444;
  line-height: 1.5;
}
/* p {
  
} */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}